<h2>Welcome to the Farmer Dashboard, @ViewBag.Username!</h2><img src="~/images/AGRI-ENERGY.png" alt="Your Logo" style="width: 5%; height: auto;" />


<p>Manage your products and view listings.</p>
<a href="/Farmer/ProductList" class="btn btn-primary">View Products</a>
<a href="/Farmer/AddProduct" class="btn btn-secondary">Add Product</a>

